<h1>Edit Pertence</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.pertence_path(@conn, :update, @pertence)) %>

<span><%= link "Back", to: Routes.pertence_path(@conn, :index) %></span>
