<h1>Listing Pertencimentos</h1>

<table>
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for pertence <- @pertencimentos do %>
    <tr>

      <td>
        <span><%= link "Show", to: Routes.pertence_path(@conn, :show, pertence) %></span>
        <span><%= link "Edit", to: Routes.pertence_path(@conn, :edit, pertence) %></span>
        <span><%= link "Delete", to: Routes.pertence_path(@conn, :delete, pertence), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Pertence", to: Routes.pertence_path(@conn, :new) %></span>
