<h1>Edit Pergunta</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.pergunta_path(@conn, :update, @pergunta)) %>

<span><%= link "Back", to: Routes.pergunta_path(@conn, :index) %></span>
