<h1>Listing Perguntas</h1>

<table>
  <thead>
    <tr>
      <th>Pergunta</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for pergunta <- @perguntas do %>
    <tr>
      <td><%= pergunta.pergunta %></td>

      <td>
        <span><%= link "Show", to: Routes.pergunta_path(@conn, :show, pergunta) %></span>
        <span><%= link "Edit", to: Routes.pergunta_path(@conn, :edit, pergunta) %></span>
        <span><%= link "Delete", to: Routes.pergunta_path(@conn, :delete, pergunta), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Pergunta", to: Routes.pergunta_path(@conn, :new) %></span>
