<h1>Show Pergunta</h1>

<ul>

  <li>
    <strong>Pergunta:</strong>
    <%= @pergunta.pergunta %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.pergunta_path(@conn, :edit, @pergunta) %></span>
<span><%= link "Back", to: Routes.pergunta_path(@conn, :index) %></span>
