<h1>Listing Dias</h1>

<table>
  <thead>
    <tr>
      <th>Dia</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for dia <- @dias do %>
    <tr>
      <td><%= dia.dia %></td>

      <td>
        <span><%= link "Show", to: Routes.dia_path(@conn, :show, dia) %></span>
        <span><%= link "Edit", to: Routes.dia_path(@conn, :edit, dia) %></span>
        <span><%= link "Delete", to: Routes.dia_path(@conn, :delete, dia), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Dia", to: Routes.dia_path(@conn, :new) %></span>
