<h1>Show Dia</h1>

<ul>

  <li>
    <strong>Dia:</strong>
    <%= @dia.dia %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.dia_path(@conn, :edit, @dia) %></span>
<span><%= link "Back", to: Routes.dia_path(@conn, :index) %></span>
