<h1>Edit Resposta</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.resposta_path(@conn, :update, @resposta)) %>

<span><%= link "Back", to: Routes.resposta_path(@conn, :index) %></span>
