<h1>Listing Respostas</h1>

<table>
  <thead>
    <tr>
      <th>Resposta</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for resposta <- @respostas do %>
    <tr>
      <td><%= resposta.resposta %></td>

      <td>
        <span><%= link "Show", to: Routes.resposta_path(@conn, :show, resposta) %></span>
        <span><%= link "Edit", to: Routes.resposta_path(@conn, :edit, resposta) %></span>
        <span><%= link "Delete", to: Routes.resposta_path(@conn, :delete, resposta), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Resposta", to: Routes.resposta_path(@conn, :new) %></span>
