<h1>Show Resposta</h1>

<ul>

  <li>
    <strong>Resposta:</strong>
    <%= @resposta.resposta %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.resposta_path(@conn, :edit, @resposta) %></span>
<span><%= link "Back", to: Routes.resposta_path(@conn, :index) %></span>
