<h1>Show Usuario</h1>

<ul>

  <li>
    <strong>Nome:</strong>
    <%= @usuario.nome %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @usuario.email %>
  </li>

  <li>
    <strong>Senha criptografada:</strong>
    <%= @usuario.senha_criptografada %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.usuario_path(@conn, :edit, @usuario) %></span>
<span><%= link "Back", to: Routes.usuario_path(@conn, :index) %></span>
